@import "libs"
@import "vars"




/* ------------------------------------- 

	Common styles
 ------------------------------------- */
body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	padding: 0
	position: relative
	font: 400 1rem/1.4 $main_font
	overflow-x: hidden
	color: $text_color
	background-color: $bg_color

.img-responsive
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

ul, ol
	padding-left: 0
	list-style-type: none

a
	text-decoration: none
	color: $text_color
	transition: all .3s
	&:hover, &:focus
		text-decoration: none
		color: $text_color
		transition: all .3s

.underlined-links	
	a, span, button
		position: relative
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 1px
			bottom: -1px
			left: 0
			background-color: $text_color
			visibility: hidden
			transform: scaleX(0)
			transition: all .5s
		&:hover::after
			visibility: visible
			transform: scaleX(1)

.page
	position: relative
	max-width: 1170px
	margin: 0 auto
	overflow: hidden
	z-index: 2
	background-color: rgba($bg_color, 0.9)

	&__gear
		height: 315px
		width: 347px
		text-align: center
		position: fixed
		opacity: .03
		margin: 0
		line-height: 614px
		font-size: 800px
		font-weight: bold
		z-index: 1
		cursor: default
		&--left
			top: 10vh
			left: -17vh
		&--right
			bottom: 10vh
			right: -17vh
		&::selection
			color: currentColor



/* ---------------------------------------

	bg.js
 --------------------------------------- */
.bg-canvas
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #fafafa
	z-index: 0


/* ---------------------------------------

	typed.js
 --------------------------------------- */
.typed-cursor
	opacity: 1
	font-weight: 100
	animation: blink 0.7s infinite

@keyframes blink
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1


/* ------------------------------------- 

	author-photo
 ------------------------------------- */
.author-photo
	display: block
	width: 350px
	margin: 0 auto 0 0
	position: relative
	top: 120px
	filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.5))


/* ------------------------------------- 

	Titles and text
 ------------------------------------- */
.pageTitle
	margin: 25vh 0 0 5px
	height: 55vh
	font-size: 16px
	font-family: inherit
	&__main
		margin-bottom: 0
		padding-right: 1em
		font-size: 4.375em
		line-height: 1.1
	&__additional
		margin-top: .9rem
		font-size: 1.875em
	&__typed
		font-weight: 100

.section
	&__titleLine
		margin: 60px -15px 50px
	&__title
		margin: 0
		font-size: 1.25rem
	&__subtitle
		margin: 0
		font-size: .875rem
		font-weight: 100
		font-style: italic
		
		b
			font-weight: 700


/* ---------------------------------------

	Social icons 
 --------------------------------------- */
.socialIcons
	i[class*="fa"]
		color: #292E32
		font-size: 16px
		transition: .3s
		&:hover
			transform: translateX(-4px)

	&--positioned
		position: absolute
		right: 15px
		padding-top: 25vh
		li
			margin: 10px 0
			text-align: center

	&--hidden
		margin-top: 15px
		display: none
		ul
			display: flex
			justify-content: space-around
			padding: 0 15px


/* ---------------------------------------

	navigation 
 --------------------------------------- */
.navbar
	position: fixed
	top: 0
	left: 0
	z-index: 9999999
	width: 100%
	padding: 5px 0
	background-color: rgba($bg_color, 0.95)
	box-shadow: rgba(0,0,0,.15) 0 1px 10px
	&__list
		width: 100%
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
	&__link
		margin: 0 0 0 40px
		font-size: 14px
		text-transform: capitalize


/* ---------------------------------------

	Header
 --------------------------------------- */
.header
	height: 70vh
	margin: 0
	padding: 0
	overflow: hidden
	.container
		position: relative

.logo
	display: block
	width: 30px



/* ---------------------------------------

	Services
 --------------------------------------- */
.services
	div[class*="row"]
		margin-left: -5px
		margin-right: -5px
	div[class*="col"]
		padding-left: 5px
		padding-right: 5px
		margin-bottom: 10px

.service-text
	margin-top: 10px
	width: 100%
	border-radius: 2px
	position: relative
	font-size: 14px
	span
		font-weight: bold
	p
		margin-top: 5px
		font-weight: 300
		color: #253138

.service-box
	height: 100%
	padding: 15px 15px 10px
	background-color: rgba(255, 255, 255, 0.8)
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)

.service-picture
	img
		display: block
		width: 40px
		height: 40px


/* ---------------------------------------

	Portfolio
 --------------------------------------- */
.portfolio
	&__filters
		margin-bottom: 10px
		li
			display: inline-block
			margin-right: 1%

	&__filter
		position: relative
		padding: 0
		background: none
		border: none
		outline: none
		&:hover
			cursor: pointer
		.displaySup
			display: none

	&__works
		div[class*="row"]
			margin-left: -5px
			margin-right: -5px
		div[class*="col"]
			padding-left: 5px
			padding-right: 5px
	&__item
		height: 300px
		position: relative
		margin-bottom: 10px
		overflow: hidden
		box-shadow: 0 0 15px 0 rgba(#000,.2)
		&:hover
			.portfolio__contents
				opacity: 1
				transition: all .3s
			.portfolio__img:not(.no-listing)
				background-position: 50% 100%
				transition: all 10s linear .8s

	&__img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 300px
		background-repeat: no-repeat 
		background-position: 50% 0
		background-size: 100%
		transition: all 2s linear .5s


	&__contents
		width: 100%
		height: 300px
		position: absolute
		top: 0
		left: 0
		z-index: 1
		background: rgba($text_color, .6)
		opacity: 0
		transition: all .3s
		&:hover
			cursor: pointer
			
		&-title
			padding-left: 30px
			bottom: 40px
			a
				color: $bg_color
				&::after
					background-color: $bg_color
		&-meta
			padding-left: 30px
			color: $bg_color


				
			

/* ---------------------------------------

	Contact
 --------------------------------------- */
.contact
	position: relative
	&::before
		content: ''
		display: block
		width: 100%
		height: 400px
		position: absolute
		top: 0
		left: 0
		background: url(../img/bg-map.png) no-repeat 50% 0
		background-size: contain
		opacity: .03
		z-index: 0

.contact-form
	margin-top: 80px
	div[class*="row"]
		margin: -5px
	div[class*="col-"]
		padding: 0 5px

input, textarea
	width: 100%
	margin-bottom: 10px
	padding: 15px
	border: none
	border-radius: 2px
	background-color: rgba(255, 255, 255, 0.8)
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
	font: 14px $main_font
	&:focus
		outline: none
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
	&::placeholder
		font: 14px $main_font

	

input
	height: 50px

textarea
	height: 110px
	resize: none

.submit
	background-image: linear-gradient(0deg, #FB273A 0%, #FF7248 100%)
	color: #fff
	font-size: 18px
	width: 100%
	text-align: center
	border: none
	border-radius: 2px
	height: 110px
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
	transition: .4s
	cursor: pointer
	&:hover
		background-image: linear-gradient(0deg, #FB273A 0%, #FF7248 70%)
		transition: .4s
	.fa
		transition: .4s
	&:hover .fa
		transform: scale(1.3)
		transition: .4s

.subscribe-sbmt
	height: 50px


/* --------------  Popup  --------------
// .popup
//   position: fixed
//   display: -webkit-box
//   display: -ms-flexbox
//   display: flex
//   bottom: 0
//   left: 0
//   z-index: 9999999999999999
//   width: 100%
//   height: 100%
//   background-color: rgba(250, 250, 250, 0.8)

// .n-active-popup
//   display: none

// .active-popup
//   display: block
//   -webkit-animation: fadeIn .5s
//   animation: fadeIn .5s

// .popup-window
//   text-align: center
//   margin: auto
//   margin-top: 30vh
//   padding: 30px 0 35px
//   width: 400px
//   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
//   background-color: #fff
//   img
//     margin: auto
//     width: 50px
//     margin-bottom: 15px
//   .item-title
//     margin: 0 auto
//   .text
//     margin: 10px auto 0
//   button
//     margin-top: 15px
//     background-image: -webkit-gradient(linear, left bottom, left top, from(#FB273A), to(#FF7248))
//     background-image: linear-gradient(0deg, #FB273A 0%, #FF7248 100%)
//     color: #fff
//     padding: 10px 30px
//     text-align: center
//     border: none
//     border-radius: 2px
//     -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04)
//     -webkit-transition: .4s
//     transition: .4s
//     &:hover
//       background-image: -webkit-gradient(linear, left bottom, left top, from(#FB273A), color-stop(70%, #FF7248))
//       background-image: linear-gradient(0deg, #FB273A 0%, #FF7248 70%)
//       -webkit-transition: .4s
//       transition: .4s




.footer
	padding: 70px 0 50px

.footer-social-icon
	padding: 0
	margin: 0
	text-align: right
	li
		list-style-type: none
		padding-left: 10px
		display: inline
		margin: 0
	a .fa
		font-size: 15px
		transition: .3s
		&:hover
			transform: translateY(-4px)

.footer-brand
	font-size: 18px
	font-weight: bold

.copyright
	margin-top: 5px
	font-weight: 300


.footer__socialIcons
	margin: 0
	padding-left: 0
	display: flex
	justify-content: flex-end
	li
		&:not(:first-child)
			margin-left: 13px
	
.footer-mail
	margin-top: 5px
	font-weight: 300
	float: right
	&:hover
		text-decoration: none
		color: #000





@import "media"